APP_API_KEY="AIzaSyAsW6cDzBQko32Wn-5NDCfhrU-MCcZW_xc"
APP_AUTH_DOMAIN="almost-6e7d1.firebaseapp.com"
APP_DATABASE_URL="https://almost-6e7d1-default-rtdb.firebaseio.com"
APP_PROJECT_ID="almost-6e7d1"
APP_STORAGE_BUCKET="almost-6e7d1.appspot.com"
APP_APP_ID="1:642079226163:web:a31ea7d3d3ecee17f16646"
APP_MEASUREMENT_ID="G-L0XMJ8CHPM"
